p {
    margin: 0;
}

.home-div {
    display: grid;
    grid: repeat(10, 8vh)/repeat(10, 10vw)
}

.welcome {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-area: 1/5/2/7;
    color: #12100e;
}

.home-projects-div {
    display: flex;
    grid-area: 3/4/9/8;
    justify-content: center;
    justify-items: center;
    flex-flow: row wrap;
    background-color: #4a4b2f;
    border-radius: 10px;
}
.home-project-div {
    display: flex;
    width: 225px;
    height: 150px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #6b654b;
    background-size: 10vw 10vh;
    background-repeat: no-repeat;
    background-position: top;
    color: #d4df9e;
    margin: 1vh;
    padding: 1vh;
    font-size: 1.75vh;
    border-radius: 10px;
}

.home-project-img {
    width: 10vw;
    height: 10vh;
}

.home-project-link {
    color: #d4df9e;
    text-decoration: none;
}
