.welcome {
    height: 100vh;
    width: 100vw;
    background-color: #0d1b2a;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
}

.towork {
    height:5vh;
    width:15vw;
    color: #e0e1dd;
}
/* 0d1b2a
1b263b
415a77
778da9
e0e1dd */
