#home-projects-div {
    display: flex;
    /* grid-area: 2/4/9/8; */
    justify-content: center;
    justify-items: center;
    align-content: center;
    flex-flow: row wrap;
    height: 100vh;
    color: #e0e1dd;
    width: 100vw;
    min-height: 500px;
    min-width: 1000px;
    background-color: #587b7f;
}
/* 
    393e41
    d3d0cd
    e2c044
    587b7f
    1e2019
*/
.home-project-div {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: top;
    font-size: 1.75vmin;
    width: 25vmin;
    height: 25vmin;
    background-size: cover;
    padding: 5px;
}


.home-project-link {
    opacity: 0;
    color: #393e41;
    text-decoration: none;
}
.home-project-link:hover {
    opacity: 1;
    color: #393e41;
}



#home-p1 {
    background-image: url('https://i.imgur.com/qUiq6PO.png');
    background-color: #d3d0cd;
}
#home-p2{
    background-image: url("https://i.imgur.com/cwI9kTv.png");
    background-color: #d3d0cd;
}
#home-p3 {
    background-image: url("https://i.imgur.com/1fARzAP.png");
    background-color: #d3d0cd;
}
#home-p4 {
    background-image: url("https://i.imgur.com/TQjmpNj.png");
    background-color: #d3d0cd;
}
#home-hackathon-sept-2021 {
    background-image: url("https://i.imgur.com/7MXkJQ3.png");
    background-color: #d3d0cd;
}
#home-p1:hover {
    background-image: none;
}
#home-p2:hover {
    background-image: none;
}
#home-p3:hover {
    background-image: none;
}
#home-p4:hover {
    background-image: none;
}
#home-hackathon-sept-2021:hover {
    background-image: none;
}