header {
    height: 10vh;
    width: 100%;
    background-color: #30321c;
    color: #d4df9e;
}

main {
    height: 100vh;
    width: 100%;
    background-color: #d4df9e;
    color: #333432;
    font-size: xx-large;
}

footer {
    /* height: 100%; */
    width: 100%;
    background-color: #30321c;
    color: #d4df9e;
}

/*  F3F2F0 light shades background on light designs or text color on inverted   
    CBA578 bring attention to design elements - background color of images - light accent
    8F8F92 main brand color - as main identity
    7D7B7B another accent color - dark accent
    42333D dark shades dark on light - inverted design
*/