main {
    height: 85vh;
    width: 100vw;
    background-color: #F3F2F0;
}

/*  F3F2F0 light shades background on light designs or text color on inverted   
    CBA578 bring attention to design elements - background color of images - light accent
    8F8F92 main brand color - as main identity
    7D7B7B another accent color - dark accent
    42333D dark shades dark on light - inverted design
*/