header {
    height: 10vh;
    width: 100%;
    background-color: #1b263b;
    color: #e0e1dd;
}

main {
    height: 100vh;
    width: 100%;
    background-color: #778da9;
    color: #e0e1dd;
    font-size: xx-large;
}

footer {
    /* height: 100%; */
    width: 100%;
    background-color: #1b263b;
    color: #e0e1dd;
}
/* 0d1b2a
1b263b
415a77
778da9
e0e1dd */