.button-slide {
    display: flex;
    flex-flow: row;
    align-items: center;
}
.slides {
    grid-area: 3/1/4/4;
}
.skill-div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 20vmin;
    width: 20vmin;
    min-height: 120px;
    min-width: 120px;
    margin: 5vmin;
    border-radius: 5px;
    background-color: #587b7f;
    color: #e0e1dd;
}
.slide-icon {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 2vmin;
    width: 2vmin;
    margin: 0 0 -2vmin 0;
    z-index: 1;
    color: #e0e1dd;
}
.skill-name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 15vmin;
    width: 15vmin;
    font-size: 0.5em;
    margin: 0 0 -5vmin 0;

}
.small {
    height: 50px;
    width: 100px;
}
.skill-slider {
    color: #1e2019;
}
#slide {
    display: flex;
    flex-flow: row;
}

.slide-change {
    background-color: #587b7f;
    border-radius: 50%;
    border: none;
}
.skill-slider {
    padding: 5px;
    color: #e0e1dd
}