.button-slide {
    display: flex;
    flex-flow: row;
    align-items: center;
}
.slides {
    grid-area: 3/1/4/4;
}
.skill-div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 20vmin;
    width: 20vmin;
    margin: 5vmin;
    border-radius: 5px;
    background-color: #415a77;
}
.slide-icon {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 2vmin;
    width: 2vmin;
    margin: 0 0 -2vmin 0;
    z-index: 1;
}
.skill-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vmin;
    width: 15vmin;
    font-size: 0.5em;
    margin: 0 0 -5vmin 0;

}
.small {
    height: 50px;
    width: 100px;
}
#slide {
    display: flex;
    flex-flow: row;
}